.card {
    width: 50px;
    height: 50px;
    background: #e6e2e2;
    border-radius: 4px;
    -webkit-box-shadow: 1px 3px 15px -3px #000000; 
    box-shadow: 1px 3px 15px -3px #000000;
}

button {
    margin-bottom: 32px;
    display: block;
}

:host {
    width: 500px;
  }