<div class="row">
  <app-card-enter-css-only></app-card-enter-css-only>
  <app-card-enter-and-leave-css-only></app-card-enter-and-leave-css-only>
</div>
<div class="row">
  <app-card-enter-and-leave-css-and-ts></app-card-enter-and-leave-css-and-ts>
  <app-card-enter-and-leave-ng-animations></app-card-enter-and-leave-ng-animations>
</div>
<div class="row">
  <app-more-complex-ng-animations></app-more-complex-ng-animations>
  <app-animations-linked-with-state></app-animations-linked-with-state>
</div>

<app-stagger-animation></app-stagger-animation>
<app-two-animations></app-two-animations>

<!-- <router-outlet></router-outlet> -->