.card {
    width: 50px;
    height: 50px;
    background: #e6e2e2;
    border-radius: 4px;
    -webkit-box-shadow: 1px 3px 15px -3px #000000; 
    box-shadow: 1px 3px 15px -3px #000000;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

button {
    margin-bottom: 32px;
}

:host {
  width: 500px;
}