.ball {
    position: relative;
    background-color: black;
    border-radius: 50%;
    top: 200px;
    height: 25px;
    width: 25px;
}

button {
    margin-bottom: 32px;
    display: block;
}

:host {
    width: 500px;
  }