<h3>Stagger Animation</h3>
<!-- if we don't pass items.length to animation, it will not trigger animation when an item is added -->
<div id="container" [@listAnimation]="items.length">
	<button (click)="pushItem()">Add item</button>
	<div id="list" *ngFor="let item of items">
		{{ item }}
	</div>
</div>